[submodule "PostProcessing"]
	path = PostProcessing
	url = https://github.com/TelltaleGames/PostProcessing.git
	branch = switch_support
[submodule "ShaderGraph"]
	path = ShaderGraph
	url = https://github.com/TelltaleGames/ShaderGraph.git
